/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive, handwriting;
    background-color: #172703;
    color: #ffffff;
}

header {
    background-color: #47341c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 125px;
}

.Logo1 img {
    max-width: 250px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fcfffb;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}

.hero {
    text-align: center;
    padding: 100px;
    /*Please change the path file of the desired background image before running or reloading the website*/
    background-image: url('/Users/JESSICA G. CABILAR/OneDrive/Desktop/galicia_cabilar/img/bg1.jpg'); /*change here!!!*/
    background-size: cover;
    color: white;

}

.hero h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: #fcfffb;
}

.hero p {
    font-size: 30px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.cta-button:hover {
    background-color: #7e685b;
}

.menu {
    padding: 100px 0;
    text-align: center;
}

.menu h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-bottom: 20px;
}

.menu p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.about {
    padding: 100px 0;
    text-align: center;
    background-color: #385216;
    
}
.about img{
    margin-top: 30px;
    width: 20%;
}

.about h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    font-family: 'Times New Roman', Times, serif;
    padding: 100px 0;
    text-align: center;
    background-color: #233e05;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    font-family: Arial, sans-serif;
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

